* {
    margin: 0;
    padding: 0;
}

body {
    background: #3bb371;
    font-family:Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;

}
.left-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 255px;
    margin: 15px 10px;
    
}
.right-container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    min-width: 274px;
    margin: 15px 0px;
}

.main {
    background: white;
    margin: 10px 0;
    cursor: pointer;
}
h1 {
    font-size: 1.4em;
    padding: 20px 0 0 25px;
    color: rgb(60, 60, 60);

}
p {
    margin: 5px 25px;
    color: rgb(120, 120, 120);
}
.side .name {
    margin-top: 100px;
}
.name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 0.8em;
}

.main img {
    width: 100%;
}
.side {
    background: white;
    margin: 10px;
    cursor: pointer;
}

.side img {
    width: 100%;
}

@media (max-width: 320px) {
    .container {
        flex-wrap: wrap;
        
    }
    .side .name {
        margin-top: 0px;
    }
}